mixin navigation()
  nav.c-navigation 
    .c-navigation__wrapper
      .c-navigation__item 
        +link({
          href:'#home',
          text:'Home',
        })
      .c-navigation__item 
        +link({
          href: '#about',
          text:'About',
        })
      .c-navigation__item 
        +link({
          href:'#services',
          text:'Services',
        })
      .c-navigation__item 
        +link({
          href:'#gallery',
          text:'Gallery',
        })
      .c-navigation__item 
        +link({
          href:'#blog',
          text:'Blog',
        })
      .c-navigation__item 
        +link({
          href:'#contact',
          text:'Contact',
        })
