.c-fresh {
  background-image: url(../../assets/image/header.png) 50%;
  background-size: cover;
  padding: 50px 0 120px;
  position: relative;
}

.c-header {
  position: absolute;
  z-index: 100;
  right: 0;
  left: 0;
  top: 0;

  &__wrapper {
    padding-bottom: 50px;
    align-items: center;
    padding-top: 50px;
    display: flex;

    // @include media("<=tablet") {
    //   flex-direction: column;
    // }
  }

  &__navigation {
    width: 100%;
  }
}
